<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtinterac.realestateapp" >
    <uses-permission android:name="com.thoughtinterac.realestateapp.permission.MAPS_RECEIVE" />
    <permission
        android:name="com.thoughtinterac.realestateapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/gs_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:name=".Application.AppController"
        >
        <activity
            android:name=".Activities.MainActivity"
            android:label="Gemini Splendor"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"

            >

        </activity>
        <activity
            android:name=".Activities.CommonPageSingleProjectActivity"
            android:label="Project"
            android:windowSoftInputMode="stateHidden"

            >

        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PreLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.MapActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RealtorMainPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
             >

        </activity>
        <activity
            android:name=".Activities.ImageZoomActivity"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".Activities.Custom_CameraActivity"
            android:label="Gemini Splendor"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Single_User_Task_Popup"
            android:label="Gemini Splendor"
            android:theme="@style/myDialog"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SearchProjectActivity"
            android:label="Gemini Spplendor"
            android:theme="@style/TitleBarTheme">

        </activity>
        <activity
            android:name=".Activities.UserProfileUpdateActivity"
            android:label="Update"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.SendUserReminder"
            android:label="Reminder"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.CommonPageActivity"
            android:label="Gemini Spplendor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.ViewUserDetails"
            android:label="User Details"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.RealtorViewUserDocumentDetails"
            android:label="User Document Details"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.RealtorSingleProjectActivity"
            android:label="Project Details"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.Single_User_Details"
            android:label="User Details"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.UserListActivity"
            android:label="User List"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.ProjectListActivity"
            android:label="Project List"
            android:windowSoftInputMode="stateHidden"

            >

        </activity>
        <activity
            android:name=".Activities.Forgot_Password_Login"
            android:label="Forgot Password"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".Activities.UserMyProject"
            android:label="My Project"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:label="Gemini Splendor"
            android:name=".Activities.Contact_Activity">


        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity
            android:label="Gemini Splendor"
            android:name=".Activities.Quick_Enqiry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCgwpFm6hqqnWNpXboHprqe2ukH-_ePkOQ" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>